.next-travel__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
}

.next-travel__item {
  font-size: 14px;
  line-height: 17px;
  color: rgba($color: $darkest, $alpha: 0.5);
}
