.review {
  position: absolute;
  top: 114px;
  left: 655px;
  width: 382px;
  background-color: $basic-white;
  padding: 30px;
}

.review__title {
  position: relative;
  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
  color: $dark;
  letter-spacing: -0.691px;
  margin-bottom: 32px;

  &::after {
    position: absolute;
    content: "";
    top: 47px;
    left: 0;
    background-color: $main-accent;
    width: 68px;
    height: 0.73px;
  }
}

.review__item {
  &:not(:first-child) {
    display: none;
  }
}

.review__text {
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.41px;
  color: rgba($color: $dark, $alpha: 0.7);
  margin-bottom: 35px;
}

.review__inner-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.review__author {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: $dark;
  margin-left: 16px;
}
