// Colors
$white: #ffffff;
$black: #000000;
$halfbaked: #81b3d2;
$gallery: #eeeeee;
$mineshaft: #333333;
$concrete: #f2f2f2;
$mercury: #e5e5e5;
$shuttlegray: #5c6870;
$alto: #d6d6d6;
$fountainblue: #669ec0;
$steelblue: #5496bd;
$kabul: #604e43;
$pinecone: #766357;
$dovegray: #666666;
$gray2: #eaeaea;
$gray3: #dbdbdb;
$gray4: #d5d5d5;
$gray5: #e6e6e6;
$lightblue: #add8e6;

// Viewports
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;
